In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [52]:
diet_path = '/Users/velarieansu/Documents/datascience/DR1IFF_L.xpt'
demo_path = '/Users/velarieansu/Documents/datascience/DEMO_L.xpt'
a1c_path = '/Users/velarieansu/Documents/datascience/GHB_L.xpt'

In [55]:
df_demo = pd.read_sas(demo_path, format='xport', encoding='utf-8')
print(df_diet.head())

       SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1  \
0  130378.0      12.0       2.0       1.0      43.0       NaN       5.0
1  130379.0      12.0       2.0       1.0      66.0       NaN       3.0
2  130380.0      12.0       2.0       2.0      44.0       NaN       2.0
3  130381.0      12.0       2.0       2.0       5.0       NaN       5.0
4  130382.0      12.0       2.0       1.0       2.0       NaN       3.0

   RIDRETH3  RIDEXMON  RIDEXAGM  ...  DMDHRGND  DMDHRAGZ  DMDHREDZ  DMDHRMAZ  \
0       6.0       2.0       NaN  ...       NaN       NaN       NaN       NaN
1       3.0       2.0       NaN  ...       NaN       NaN       NaN       NaN
2       2.0       1.0       NaN  ...       NaN       NaN       NaN       NaN
3       7.0       1.0      71.0  ...       2.0       2.0       2.0       3.0
4       3.0       2.0      34.0  ...       2.0       2.0       3.0       1.0

   DMDHSEDZ      WTINT2YR      WTMEC2YR  SDMVSTRA  SDMVPSU  INDFMPIR
0       NaN  50055.450807  54374.463898     173.0      2.0      5.00
1       NaN  29087.450605  34084.721548     173.0      2.0      5.00
2       NaN  80062.674301  81196.277992     174.0      1.0      1.41
3       NaN  38807.268902  55698.607106     182.0      2.0      1.53
4       2.0  30607.519774  36434.146346     182.0      2.0      3.60

[5 rows x 27 columns]

In [56]:
df_a1c = pd.read_sas(a1c_path, format='xport', encoding='utf-8')
print(df_diet.head())

       SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1  \
0  130378.0      12.0       2.0       1.0      43.0       NaN       5.0
1  130379.0      12.0       2.0       1.0      66.0       NaN       3.0
2  130380.0      12.0       2.0       2.0      44.0       NaN       2.0
3  130381.0      12.0       2.0       2.0       5.0       NaN       5.0
4  130382.0      12.0       2.0       1.0       2.0       NaN       3.0

   RIDRETH3  RIDEXMON  RIDEXAGM  ...  DMDHRGND  DMDHRAGZ  DMDHREDZ  DMDHRMAZ  \
0       6.0       2.0       NaN  ...       NaN       NaN       NaN       NaN
1       3.0       2.0       NaN  ...       NaN       NaN       NaN       NaN
2       2.0       1.0       NaN  ...       NaN       NaN       NaN       NaN
3       7.0       1.0      71.0  ...       2.0       2.0       2.0       3.0
4       3.0       2.0      34.0  ...       2.0       2.0       3.0       1.0

   DMDHSEDZ      WTINT2YR      WTMEC2YR  SDMVSTRA  SDMVPSU  INDFMPIR
0       NaN  50055.450807  54374.463898     173.0      2.0      5.00
1       NaN  29087.450605  34084.721548     173.0      2.0      5.00
2       NaN  80062.674301  81196.277992     174.0      1.0      1.41
3       NaN  38807.268902  55698.607106     182.0      2.0      1.53
4       2.0  30607.519774  36434.146346     182.0      2.0      3.60

[5 rows x 27 columns]

In [51]:
df_diet = pd.read_sas(diet_path, format='xport', encoding='utf-8')
print(df_diet.head())

       SEQN        WTDRD1        WTDR2D  DR1ILINE  DR1DRSTZ  DR1EXMER  DRABF  \
0  130378.0  61366.555827  70554.222162       1.0       1.0      73.0    2.0
1  130378.0  61366.555827  70554.222162       2.0       1.0      73.0    2.0
2  130378.0  61366.555827  70554.222162       3.0       1.0      73.0    2.0
3  130378.0  61366.555827  70554.222162       4.0       1.0      73.0    2.0
4  130378.0  61366.555827  70554.222162       5.0       1.0      73.0    2.0

   DRDINT  DR1DBIH  DR1DAY  ...      DR1IM181      DR1IM201      DR1IM221  \
0     2.0     40.0     4.0  ...  5.397605e-79  5.397605e-79  5.397605e-79
1     2.0     40.0     4.0  ...  5.397605e-79  5.397605e-79  5.397605e-79
2     2.0     40.0     4.0  ...  5.397605e-79  5.397605e-79  5.397605e-79
3     2.0     40.0     4.0  ...  5.397605e-79  5.397605e-79  5.397605e-79
4     2.0     40.0     4.0  ...  6.530000e-01  7.000000e-03  5.397605e-79

       DR1IP182      DR1IP183      DR1IP184      DR1IP204      DR1IP205  \
0  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79
1  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79
2  3.000000e-03  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79
3  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79  5.397605e-79
4  1.418000e+00  1.890000e-01  5.397605e-79  5.397605e-79  5.397605e-79

       DR1IP225      DR1IP226
0  5.397605e-79  5.397605e-79
1  5.397605e-79  5.397605e-79
2  5.397605e-79  5.397605e-79
3  5.397605e-79  5.397605e-79
4  5.397605e-79  1.000000e-03

[5 rows x 84 columns]

In [61]:
df_demo.info()
df_diet.info()
df_a1c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11933 entries, 0 to 11932
Data columns (total 27 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      11933 non-null  float64
 1   SDDSRVYR  11933 non-null  float64
 2   RIDSTATR  11933 non-null  float64
 3   RIAGENDR  11933 non-null  float64
 4   RIDAGEYR  11933 non-null  float64
 5   RIDAGEMN  377 non-null    float64
 6   RIDRETH1  11933 non-null  float64
 7   RIDRETH3  11933 non-null  float64
 8   RIDEXMON  8860 non-null   float64
 9   RIDEXAGM  2787 non-null   float64
 10  DMQMILIZ  8301 non-null   float64
 11  DMDBORN4  11914 non-null  float64
 12  DMDYRUSR  1875 non-null   float64
 13  DMDEDUC2  7794 non-null   float64
 14  DMDMARTZ  7792 non-null   float64
 15  RIDEXPRG  1503 non-null   float64
 16  DMDHHSIZ  11933 non-null  float64
 17  DMDHRGND  4115 non-null   float64
 18  DMDHRAGZ  4124 non-null   float64
 19  DMDHREDZ  3746 non-null   float64
 20  DMDHRMAZ  4020 non-null   float64
 21  DMDHSEDZ  2127 non-null   float64
 22  WTINT2YR  11933 non-null  float64
 23  WTMEC2YR  11933 non-null  float64
 24  SDMVSTRA  11933 non-null  float64
 25  SDMVPSU   11933 non-null  float64
 26  INDFMPIR  9892 non-null   float64
dtypes: float64(27)
memory usage: 2.5 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11933 entries, 0 to 11932
Data columns (total 27 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      11933 non-null  float64
 1   SDDSRVYR  11933 non-null  float64
 2   RIDSTATR  11933 non-null  float64
 3   RIAGENDR  11933 non-null  float64
 4   RIDAGEYR  11933 non-null  float64
 5   RIDAGEMN  377 non-null    float64
 6   RIDRETH1  11933 non-null  float64
 7   RIDRETH3  11933 non-null  float64
 8   RIDEXMON  8860 non-null   float64
 9   RIDEXAGM  2787 non-null   float64
 10  DMQMILIZ  8301 non-null   float64
 11  DMDBORN4  11914 non-null  float64
 12  DMDYRUSR  1875 non-null   float64
 13  DMDEDUC2  7794 non-null   float64
 14  DMDMARTZ  7792 non-null   float64
 15  RIDEXPRG  1503 non-null   float64
 16  DMDHHSIZ  11933 non-null  float64
 17  DMDHRGND  4115 non-null   float64
 18  DMDHRAGZ  4124 non-null   float64
 19  DMDHREDZ  3746 non-null   float64
 20  DMDHRMAZ  4020 non-null   float64
 21  DMDHSEDZ  2127 non-null   float64
 22  WTINT2YR  11933 non-null  float64
 23  WTMEC2YR  11933 non-null  float64
 24  SDMVSTRA  11933 non-null  float64
 25  SDMVPSU   11933 non-null  float64
 26  INDFMPIR  9892 non-null   float64
dtypes: float64(27)
memory usage: 2.5 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7199 entries, 0 to 7198
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   SEQN     7199 non-null   float64
 1   WTPH2YR  7199 non-null   float64
 2   LBXGH    6715 non-null   float64
dtypes: float64(3)
memory usage: 168.9 KB

In [63]:

df_a1c.describe()

                SEQN       WTPH2YR        LBXGH
count    7199.000000  7.199000e+03  6715.000000
mean   136328.407696  3.889326e+04     5.709471
std      3442.024649  3.091880e+04     1.054899
min    130378.000000  5.397605e-79     3.200000
25%    133321.000000  1.878176e+04     5.200000
50%    136366.000000  3.103185e+04     5.500000
75%    139286.000000  4.962340e+04     5.800000
max    142310.000000  2.417289e+05    17.100000